@import url("https://fonts.googleapis.com/css2?family=Caveat&family=PT+Sans+Narrow&display=swap");
/* --primary-color: #fbfbfb;
  --secondary-color: #77e0da;
  --accent1-color: #e0777d;
  --accent2-color: #0f0f0f;
  --accent3-color: #e0cba3;

  --heading-font: "Caveat", cursive;
  --paragraph-font: PT Sans Narrow, Helvetica, sans-serif; */

header {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
  font-family: PT Sans Narrow, Helvetica, sans-serif;
  background-color: white;
  letter-spacing: 2px;
}
nav {
  display: flex;
  justify-content: space-around;
}
nav a {
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  padding: 15px;
}
nav a:hover {
  border-radius: 20px;
  background-color: #0f0f0f;
  padding: 15px;
  color: white;
}
body {
  background-color: #fbfbfb;
}
h1,
h2 {
  text-align: center;
  font-family: "Caveat", cursive;
}
.grid-calendar {
  display: grid;
  grid-template-columns: 3fr 2fr;
  font-family: PT Sans Narrow, Helvetica, sans-serif;
}
.grid-calendar img {
  grid-column: 1/2;
  width: 100%;
}
.grid-calendar h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
}
#raquel {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 10px;
  padding-bottom: 10px;
}
#div {
  grid-column: 2/3;
  grid-row: 1/2;
  padding-left: 100px;
}

#div ul {
  border: 10px solid black;
}

#div li {
  line-height: 94px;
  font-family: "Caveat", cursive;
  font-size: larger;
}

textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 10px;
  padding-bottom: 20px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  background: #e0777d;
  grid-column: 1/2;
  grid-row: 2/3;
}

label {
  display: block;
  margin-bottom: 10px;
}

footer {
  background-color: white;
  font-family: PT Sans Narrow, Helvetica, sans-serif;
  color: black;
  padding: 20px 0;
}
.social-icons {
  text-align: center;
  padding-bottom: 10px;
}
social-icons > a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
}
footer p {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
.pg2-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.pg2-grid p {
  grid-column: 2/3;
  padding: 10px;
  line-height: 100px;
}
.pg2-grid img {
  width: 100%;
  height: 95%;
  border: 5px #555;
}
