@import url("https://fonts.googleapis.com/css2?family=Caveat&family=PT+Sans+Narrow&display=swap");
/* --primary-color: #fbfbfb;
  --secondary-color: #77e0da;
  --accent1-color: #e0777d;
  --accent2-color: #0f0f0f;
  --accent3-color: #e0cba3;

  --heading-font: "Caveat", cursive;
  --paragraph-font: PT Sans Narrow, Helvetica, sans-serif; */

header {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
  font-family: PT Sans Narrow, Helvetica, sans-serif;
  background-color: white;
}
nav {
  display: flex;
  justify-content: space-around;
}
nav a {
  text-align: center;
  text-decoration: none;
}
nav a:hover {
  background-color: #0f0f0f;
  color: white;
}
body {
  background-color: #fbfbfb;
}
h1,
h2 {
  text-align: center;
  font-family: "Caveat", cursive;
}
.grid-calendar {
  display: grid;
  grid-template-columns: 3fr 2fr;
  font-family: PT Sans Narrow, Helvetica, sans-serif;
}
.grid-calendar img {
  grid-column: 1/2;
  width: 100%;
}
.grid-calendar h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
}
#raquel {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 10px;
  padding-bottom: 10px;
}
#div {
  grid-column: 2/3;
  grid-row: 1/2;
  padding-left: 100px;
}

#div ul {
  border: 10px solid black;
}

#div li {
  line-height: 94px;
  font-family: "Caveat", cursive;
  font-size: larger;
}

textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 10px;
  padding-bottom: 20px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  grid-column: 1/2;
  grid-row: 2/3;
}

label {
  display: block;
  margin-bottom: 10px;
}

footer {
  background-color: white;
  font-family: PT Sans Narrow, Helvetica, sans-serif;
  color: black;
  padding: 20px 0;
}
.social-icons {
  text-align: center;
  padding-bottom: 10px;
}
social-icons > a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
}
footer p {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
.pg2-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  align-items: center;
}
.pg2-grid p {
  grid-column: 2/3;
  padding: 10px;
}
.pg2-grid img {
  width: 100%;
  padding: 20px;
  border: 5px #555;
}
/* CSS Specific to the to-do page (3) of my site */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the list items */
#myUL li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#myUL li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
#myUL li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
#myUL li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
#myUL li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #e0777d;
  color: white;
}

/* Style the header */
.header {
  background-color: #e0777d;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
